$color-white: #ffffff;
$color-blue-light: #cee2f3;
$color-blue-dark: #0033a0;
$color-blue-darker: #000056;
$color-grey-dark: #333333;

// TEXT
$color-text-default: $color-grey-dark;
$color-link-default: $color-blue-dark;

// LINKS
$color-link-menu: $color-white;
$color-link-film: $color-white;

// COMPONENTS
$color-navbar-bg: $color-blue-light;
$color-menu-bg: $color-blue-darker;
